.favourites-page {
  min-height: 100vh;
  overflow-y: auto;
}

.favourites-page__content {
  padding: 1rem;
  overflow-y: auto;
}

.favourites-page__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.favourites-page__empty {
  color: #4b5563;
}

.favourites-page__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.search-and-genres {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  position: relative;
}

.genre-search-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
  width: 300px;
}

.search-icon {
  color: #707070;
  margin-right: 10px;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .favourites-page__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .search-bar {
    width: 100%;
    max-width: 300px;
  }
  
  .genre-search-wrapper {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: 480px) {
  .favourites-page__title {
    font-size: 1.3rem;
  }
}