/* Анимация для текста и элементов */
.animate-fadeIn {
  animation: fadeIn 1s ease-in forwards;
}

/* Анимация для кнопки */
.animate-pulse {
  animation: pulse 1.5s infinite alternate;
}

/* Анимация подпрыгивания для изображения */
.animate-bounce {
  animation: bounce 1s infinite;
}

/* Анимация появления формы */
.animate-slideIn {
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}